doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
	block content
		h3= title
		form#form_add_user(name="adduser",method="post",action="/adduser")
			span username
			span &nbsp;
			input#input_username(type="text",placeholder="username",name="username")
			
			span password
			span &nbsp;
			input#input_password(type="text",placeholder="password",name="password")
			span firstname
			span &nbsp;
			input#input_firstname(type="text",placeholder="firstname",name="firstname")
			
			span lastname
			span &nbsp;
			input#input_lastname(type="text",placeholder="lastname",name="lastname")
			
			span birthday
			span &nbsp;
			input#input_birthday(type="text",placeholder="dd/mm/yy",name="birthday")
			
			span email
			span &nbsp;
			input#input_email(type="text",placeholder="email",name="email")
			span gender
			span &nbsp;
			input#input_gender(type="text",placeholder="gender",name="gender")
			br
			br
			button#submit_student(type="submit") subtmit