doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='/site.css')
    |     
    title Hello
  |  
  script(src='https://togetherjs.com/togetherjs-min.js')
  body
    button(onclick='TogetherJS(this); return false;') Start TogetherJS
